{% extends "base.html" %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="row">
        <h2 data-aos="fade-up" data-aos-delay="500">Questions Creation</h2>

  <div class="col-6 col-lg-4"></div>
  <div class="col-6 col-lg-4"><form method="post">
  <!-- Email input -->
  <div class="form-outline mb-4">
                    {% csrf_token %}
                    {{form.as_p}}
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>

</form></div>
  <div class="col-6 col-sm-4"></div>
</div>
{% endblock content%}
